:root {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: #121212;
  background-color: #ebebeb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primaryBlue: #0375f6;
  --secondary: #21374f;
  --tertiary: #009bf0;
  --lightModeBackground: #ebebeb;
  --lightModeBackgroundOffset: #e3e3e3;
}

* {
  box-sizing: border-box;
  font-family: var(--font-family);
  -webkit-tap-highlight-color: transparent;
  margin: 0;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:link {
  color: var(--primaryBlue);
}
a:visited {
  color: var(--tertiary); /* Visited (clicked) link color */
}

input:focus {
  outline: none;
  box-shadow: none;
}
textarea:focus {
  outline: none;
  box-shadow: none;
}
